.header {
  margin: 50px 100px;
  padding: 10px 20px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(183, 207, 207);
  border-radius: 8px;

}
.header a{
 text-decoration: none;
 color: black;
 font-weight: 600;
 margin-right: 50px;
}

.header img {
  height: 40px;
  width: 40px;
}


