.container {
  margin: 10px 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.bookmark {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #111111;
  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 10px;
}
