.container {
  margin: 10px 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.bookmark {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #111111;
  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 10px;
}

.spent-time{
background: rgba(96, 71, 236, 0.1);
border: 1px solid #6047EC;
border-radius: 8px;
height: 60px;
text-align: center;
padding: 5px;
font-weight: 700;
font-size: 24px;
line-height: 160%;
color: #6047EC;
margin-bottom: 30px;
}